<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryan.hkgankio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.daily.WebViewUrlActivty"/>
        <activity android:name=".view.gallery.GalleryActivity"/>
        <activity android:name=".view.notification.NotificationActivity"/>
        <activity android:name=".sample.UnitTestSampleActivity"/>
        <activity android:name=".designpattern.state.ActivityStatePattern"/>
        <activity android:name=".designpattern.adapt.ActivityAdaptPattern"/>
        <activity android:name=".designpattern.strategy.ActivityStrategyPattern"/>
        <activity android:name=".designpattern.chainofresponsibity.ActivityChainOfResponsibity"/>
        <activity android:name=".designpattern.template.ActivityTemplatePattern"/>
        <activity android:name=".designpattern.facade.ActivityFacadePattern"/>
        <activity android:name=".designpattern.observer.ActivityObserverPattern"/>
        <activity android:name=".designpattern.mediator.ActivityMeditorPattern"/>
        <activity android:name=".designpattern.proxy.ActivityProxyPattern"/>
        <activity android:name=".designpattern.decorator.ActivityDecoratorPattern"/>
        <activity android:name=".designpattern.bridge.ActivityBridgeResponsibity"/>

        <service android:name=".service.PollingService"/>
    </application>

</manifest>